.card{
    height: 200px;
    width: 150px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid black;
}
card:hover{
    transform: translateY(-10px);
}
.wild{
    background-image: linear-gradient(to left, blue, green, yellow, red);
}
#player-hand{
    display: flex;
    flex-wrap: wrap;
}